{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FilesOnCloud</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">  
</head>
<body>
    <div class="full-page">
        <div class="page-content">
            <div class="navbar">
                <div class="nav-title">
                    <a href="{% url 'uploads' %}">FilesOnCloud</a>            
                </div>               
            </div>

            <div class="login-page">       
                {% if messages %}
                <div class="messages">  
                    {% for message in messages %}              
                    <div  {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</div> 
                    {% endfor %}               
                </div>
                {% endif %}
                      
                <div class="login-marquee-text">
                    <marquee behavior="" direction="left" scrollamount="15">Create an account in FilesOnCloud to stores your photos & files on cloud...</marquee>
                </div>

                <form action="" id="login-form" method="post">{% csrf_token %}
                    <label for="username">Username</label>
                    <input type="text" name="username" id="username" placeholder="Enter Your Username" autocomplete="off">
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email" placeholder="Enter Your Email" autocomplete="off">
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" placeholder="Enter Your Password">
                    <button type="submit">Register</button>
                    <div class="register-option">
                        <h3>Existing User?  <a href="{% url 'login' %}">LogIn</a></h3>
                    </div>
                </form>                     
            </div>           
        </div>  
        
        <div class="footer">            
            <div class="copyright">
                <p>©2023,<a href="{% url 'uploads' %}">FilesOnCloud</a></p>
            </div>
        </div>
    </div>
    <script src="{% static 'js/index.js' %}"></script>
</body>
</html>

